@model ApartmentRentalService.Models.ReservationDetailsViewModel

    <div>
        @Model.TenantName @Model.TenantSurname reserved the apartment from @Model.startTime.Month.@Model.startTime.Year
        to @Model.endTime.Month.@Model.endTime.Year
    </div>
