

@using (Html.BeginForm())
{
    <div>
        <label>Enter Area:</label>
        <input type="number" name="Area" />
    </div>
    <div>
        <label>Enter Rooms Count:</label>
        <input type="number" name="RoomsCount" />
    </div>
    <div>
        <label>Enter Description:</label>
        <input type="text" name="Description" />
    </div>
    <div>
        <label>Enter Monthly Fee:</label>
        <input type="number" name="MonthlyFee" />
    </div>
    <div>
        <input type="submit" title="Submit"/>
    </div>
}

